#sectBg1 {
	position: absolute;
	left: -10%;
	margin-top: 42VH;
	width: 130%;
	height: 35%;
	transform: rotate(-4deg);
	background-image: linear-gradient(180deg, #B8FC5C 0%, #02D58B 100%);
}

#sectBg2 {
	position: absolute;
	margin-top: 150VH;
	margin-bottom: -40VH;
	left: -60%;
	width: 160%;
	height: 65%;
	transform-origin: top right;
	transform: rotate(-16deg);
	background-image: linear-gradient(180deg, #B8FC5C 0%, #02D58B 100%);
}

